.navbar{
  height: 100vh;
  width: 100%;
  background-color: #222222;
  background-size: cover;
  background-position: center;
}

nav{
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo{
  color: white;
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  margin-right: 400px;
}

span{
  color: rgb(185, 94, 94);
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}

nav ul li a:hover{
  color: rgb(185, 94, 94);
  transition: .4s;
}

.content{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

h1{
  color: white;
  margin: 10px 0px 20px;
  font-size:75px;
}

h3{
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}

h4{
  color: #fcfc;
  letter-spacing:  2px;
  font-size: 20px;
}

.ai form{
  width:  300px;
  max-width: 100%;
  position: relative;
}

.ai form input{
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid rgb(185, 94, 94);
  outline: none;
  border-radius: 30px;
}

.icon {
  width: 75px;
  margin: 10px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleText {
  font-size: 25px;
  font-weight: bolder;

  color: white;
}

.navText {
  font-size: 20px !important;
  font-weight: bold !important;
  font-style: normal !important;
  color: white !important;
}

.navText:hover {
  color: #7f7f7f !important;
}

body {
    margin: 0;
    font-family: "Poppins";
    background: #eee;
  }
  p {
    margin: 0;
    padding: 10px;
  }
  .container {
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
  }
  nav {
    background-color: #222222;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  nav img {
    max-width: 70px;
  }
  form{
    background: #cc0000;
    color: #fff;
    text-align: center;
    padding: 40px;
    margin-bottom: 0;
  }
  form * {
    display: block;
    margin: 10px auto;
  }
  .description, .tags, .thumbnail {
    background: #fff;
    padding: 20px;
    margin: 20px;
    border: 2px dashed #f2f2f2;
  }
  .thumbnail {
    text-align: center;
  }
  input {
    background: #eee;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    width: 300px;
    margin: 20px auto;
  }
  button {
    background: #333;
    color: #fff;
    border-radius: 4px;
    border: 0;
    border-bottom: 5px solid #111;
    border-left: 1px solid #111;
    padding: 8px 24px;
    cursor: pointer;
    display: block;
    position: relative;
    top: 0;
  }
  button:active {
    border-bottom-width: 2px;
    top: 3px;
  }
  .thumbnail img {
    max-width: 100%;
  }